@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Round');

/* para el degrade utilizamos la pagina "https://uigradients.com/"*/

body {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

h1{
    font-family:'Fugaz One', cursive;
}

h2,h3,text{
    font-family:'Inter', sans-serif;
}

td {
    border: black 1px solid;
    height: 55px;
    vertical-align:middle;
  }

.input-file-input {
    display:none;
}

/*para hacer un div estatico y a la vez se mueva con el scroll*/
.div-espera {
    position: fixed; /*absolute*/
    width: 200;
    height: 200;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
